<div class="hero-unit">
<h1>Start Planning</h1>
<p>
		<%= link_to "Plan Flights", "http://www.kayak.com/", class: "btn btn-primary btn-large" %> 

		<%= link_to "Plan Hotels", "http://www.orbitz.com/", class: "btn btn-primary btn-large" %> 

		<%= link_to "Plan Restaurants", "http://www.Yelp.com/", class: "btn btn-primary btn-large" %> 
	</p>